flask
langgraph
langchain
langchain-openai
pandas
matplotlib
langchain-community
langchain-ollama
openai
pymysql
langchain-google-genai
google-generativeai
faiss-cpu
apscheduler
redis
cachetools
Flask-Session==0.6.0
langgraph-checkpoint
gunicorn